// Required
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

@use 'global';

// Pallet Colors: https://coolors.co/ede0d4-e6ccb2-ddb892-b08968-7f5539-9c6644
$pallet-color6: #7f5539; //'Coffee'
$pallet-color5: #9c6644; //Brown Sugar
$pallet-color4: #b08968; //Cafe Au Lait
$pallet-color3: #ddb892; //Tan
$pallet-color2: #e6ccb2; //Desert Sand
$pallet-color1: #ede0d4; //Almond

$random-color1: #e6ccb2; //champagne-pink
$random-color2: #fffaf0; //floral-white

// Default variable overrides
// $body-bg: #adb5bd;

$accordion-color: $pallet-color1; // Update accordian button color
$accordion-button-active-color: $pallet-color1; //accordion-icon-active-color

// Create your own map
$custom-colors: (
	'custom-color6': $pallet-color6,
	'custom-color5': $pallet-color5,
	'custom-color4': $pallet-color4,
	'custom-color3': $pallet-color3,
	'custom-color2': $pallet-color2,
	'custom-color1': $pallet-color1,
	'custom-color12': $random-color1,
	'custom-color11': $random-color2,
);

// update custom map in theme colors
$theme-colors: map-merge($theme-colors, $custom-colors);

// Bootstrap and its default variables
@import '../../node_modules/bootstrap/scss/bootstrap';

// Optional Bootstrap components here
@import '../../node_modules/bootstrap/scss/root';
@import '../../node_modules/bootstrap/scss/reboot';
@import '../../node_modules/bootstrap/scss/type';
