body,
html {
	min-width: 100vw;
	min-height: 100vh;
}

.navbar {
	min-width: 100vw;
	min-height: 5vh;
}
.container.main {
	min-width: 100vw;
	min-height: 90vh;
	padding-top: 5px;
}

.container.exercise {
	padding-top: 10px;
}

.footer {
	min-width: 100vw;
	min-height: 3vh;
}
